In [ ]:
# 뒷 부분에 활용할 패키지를 미리 import 합시다.
from IPython.display import IFrame

# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [7]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.

In [8]:
print(a.capitalize())
print(a.title())
print(a.upper())

Hi! everyone, i'm kim
Hi! Everyone, I'M Kim
HI! EVERYONE, I'M KIM

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

In [11]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
a.lower()

"hi! everyone, i'm kim"

In [12]:
a.swapcase()

"Hi! eVERYONE, i'M KIM"

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

In [14]:
# 아래에 코드를 작성하세요.
'kkk'.join(['1','2','3'])

'1kkk2kkk3'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [18]:
# 아래에 코드를 작성하세요.
'apple'.replace('p','a',1)

'aaple'

In [19]:
'apple'.replace('p','a')

'aaale'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [22]:
# 아래에 코드를 작성하세요.
'               hi!               '.strip()

'hi!'

In [24]:
'               hi!               '.rstrip()

'               hi!'

In [26]:
'               hi!               '.lstrip()

'hi!               '

In [33]:
'^^^안녕^^하세여^^^'.strip('^')

'안녕^^하세여'

In [35]:
'^^^안녕^^하세여^^^'.rstrip('^')

'^^^안녕^^하세여'

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [40]:
# 아래에 코드를 작성하세요.
'wow!'.find('w')

0

In [41]:
'wow!'.find('a')

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [1]:
# 아래에 코드를 작성하세요.
'wow!'.index('w')

0

In [3]:
'wow!'.index('w',1)

2

In [11]:
'wow!'.index('w',2)

2

In [44]:
'wow!'.index('a')

ValueError: substring not found

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [48]:
# 아래에 코드를 작성하세요.
'3 10'.split()

['3', '10']

In [50]:
inputs = '3 10'
a, b = map(int,inputs.split())
print(a,b)

3 10

In [1]:
'a_b_c'.split('_')

['a', 'b', 'c']

### 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

```python
dir('string')
```

In [53]:
'1'.isalpha()

False

In [55]:
'a'.isalpha()

True

In [60]:
'S'.isupper()

True

In [74]:
'0141'.isdigit()

True

In [73]:
'01a1'.isdigit()

False

In [59]:
dir('asdf')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [88]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

['starbucks', 'tomntoms', 'hollys']

In [89]:
# 값을 추가해봅시다.
caffe.append('momo')
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'momo']

In [90]:
# 어렵게 넣어보도록 해봅시다.
caffe[len(caffe):] = ['ediya']
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'momo', 'ediya']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [91]:
# 앞서 만든 리스트에 추가해봅시다.
caffe.extend(['카페베네'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'momo', 'ediya', '카페베네']

In [92]:
caffe.extend(['빽다방','설빙'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'momo', 'ediya', '카페베네', '빽다방', '설빙']

In [93]:
# 앞서 배운 list concatenate와 동일합니다.
caffe = caffe + ['드롭탑']

In [95]:
# append와 비교해봅시다.
caffe.append(['동네카페'])
caffe

['starbucks',
 'tomntoms',
 'hollys',
 'momo',
 'ediya',
 '카페베네',
 '빽다방',
 '설빙',
 '드롭탑',
 ['동네카페'],
 ['동네카페']]

In [96]:
caffe.extend('커피그루나루')
caffe

['starbucks',
 'tomntoms',
 'hollys',
 'momo',
 'ediya',
 '카페베네',
 '빽다방',
 '설빙',
 '드롭탑',
 ['동네카페'],
 ['동네카페'],
 '커',
 '피',
 '그',
 '루',
 '나',
 '루']

In [97]:
a = '안녕하세요, 여러분'
result = []
result.extend(a)
result

['안', '녕', '하', '세', '요', ',', ' ', '여', '러', '분']

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [98]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.
caffe.insert(0,'hi')

In [99]:
caffe

['hi',
 'starbucks',
 'tomntoms',
 'hollys',
 'momo',
 'ediya',
 '카페베네',
 '빽다방',
 '설빙',
 '드롭탑',
 ['동네카페'],
 ['동네카페'],
 '커',
 '피',
 '그',
 '루',
 '나',
 '루']

In [100]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다
caffe.insert(-1, 'bye')
caffe

['hi',
 'starbucks',
 'tomntoms',
 'hollys',
 'momo',
 'ediya',
 '카페베네',
 '빽다방',
 '설빙',
 '드롭탑',
 ['동네카페'],
 ['동네카페'],
 '커',
 '피',
 '그',
 '루',
 '나',
 'bye',
 '루']

In [101]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다
caffe.insert(len(caffe), 'bye')
caffe

['hi',
 'starbucks',
 'tomntoms',
 'hollys',
 'momo',
 'ediya',
 '카페베네',
 '빽다방',
 '설빙',
 '드롭탑',
 ['동네카페'],
 ['동네카페'],
 '커',
 '피',
 '그',
 '루',
 '나',
 'bye',
 '루',
 'bye']

In [102]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.
caffe.insert(len(caffe)+1000,'안녕')
print(caffe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'momo', 'ediya', '카페베네', '빽다방', '설빙', '드롭탑', ['동네카페'], ['동네카페'], '커', '피', '그', '루', '나', 'bye', '루', 'bye', '안녕']

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [113]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

[1, 2, 3, 1, 2]

In [114]:
# 중복된 값 1을 삭제 해봅시다.
numbers.remove(1)

In [115]:
numbers

[2, 3, 1, 2]

In [116]:
# 한번 더 삭제해봅시다.
numbers.remove(1)

In [117]:
numbers

[2, 3, 2]

In [118]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers.remove(1)

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [132]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]

In [133]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.
a.pop(0)

1

In [134]:
a

[2, 3, 4, 5, 6]

In [141]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.
member = ['a', 'b', 'c', 'd']

In [142]:
bye_member = member.pop()

In [143]:
print(f'{bye_member}님 이용해주셔서 감사합니다.')

d님 이용해주셔서 감사합니다.

In [144]:
member

['a', 'b', 'c']

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [147]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [148]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
a.index(3)

2

In [149]:
a.index(10)

ValueError: 10 is not in list

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [152]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]
a.count(1)

3

In [153]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
for _ in range(a.count(1)):
    a.remove(1)
print(a)

[2, 5, 5]

In [155]:
# 모두 삭제되었는지 검증해봅시다.
1 not in a

True

### `.sort()`

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [156]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[33, 14, 42, 13, 30, 36]

In [159]:
# sort를 사용해봅시다.
lotto.sort()
print(lotto)

[13, 14, 30, 33, 36, 42]

In [161]:
lotto = lotto.sort()
print(lotto)

AttributeError: 'NoneType' object has no attribute 'sort'

In [163]:
# sorted()는 바꾸지 않지만, 정렬된 결과를 반환한다. 따라서 아래처럼 작성하면 안된다.
a = [1, 5, 3]
sorted(a)
print(a)
a = sorted(a)
print(a)

[1, 5, 3]
[1, 3, 5]

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [164]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [165]:
classroom.reverse()

In [167]:
print(classroom)

['Justin', 'David', 'Tom']

## 복사

In [2]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

copied_list = original_list
print(copied_list)

[1, 2, 3]

In [3]:
# b의 값을 바꾸고 a를 출력해봅시다.
copied_list[0] = '연용흠'

In [4]:
copied_list

['연용흠', 2, 3]

In [5]:
original_list

['연용흠', 2, 3]

In [6]:
# id 값을 확안해봅시다.
print(id(original_list), id(copied_list))

87746480 87746480

In [13]:
# 숫자를 확인해봅시다.
a = 3
b = a
print(id(a),id(b))
b = 5
print(a,b)
print(id(a),id(b))

1879336064 1879336064
3 5
1879336064 1879336096

In [8]:
# 딕셔너리도 확인해봅시다.
a = {'apple': '사과','banana': '바나나', 'car': '차'}
b = a # 주소를 복사해옴
b['asss'] = 'qqq'
print(a,b)

{'apple': '사과', 'banana': '바나나', 'car': '차', 'asss': 'qqq'} {'apple': '사과', 'banana': '바나나', 'car': '차', 'asss': 'qqq'}

### copy
> pythontutor를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [14]:
# 리스트를 복사해봅시다.
a = [1, 2, 3]
b = list(a)
print(id(a),id(b))
b[0] = 5
print(a, b)

20155408 106640288
[1, 2, 3] [5, 2, 3]

In [15]:
# 다른 방법으로 복사해봅시다.
a = [1, 2, 3]
b = a[:] # 주소값이 바뀜
print(id(a),id(b))
b[0] = 5
print(a, b)

106643168 106782968
[1, 2, 3] [5, 2, 3]

In [15]:
a = [1, 2, 3]
b = a
b = [3]
print(a, b)

[1, 2, 3] [3]

In [11]:
# mutable - 리스트
IFrame('https://goo.gl/vx1yGx', width='100%', height='300px')

NameError: name 'IFrame' is not defined

In [ ]:
# immutable - integer
IFrame('https://goo.gl/N43pw6', width='100%', height='300px')

In [ ]:
# 얇은 복사 예시
IFrame('https://goo.gl/ZH6yZd', width='100%', height='300px')

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [19]:
# 2차원 리스트를 복사해봅시다.
a = [1,2,[1,2]]
b = a[:]
b[2][0] = 3
print(a,b)

#[1,2]는 같은주소를 저장하고 있음

[1, 2, [3, 2]] [1, 2, [3, 2]]

In [20]:
a = [1,2,[1,2]]
b = a[:]
b[2] = 3 # 리스트에 새로운 주소가 되는것이다.
print(a,b)

[1, 2, [1, 2]] [1, 2, 3]

In [189]:
# 얇은 복사 - 2차원 리스트
IFrame('https://goo.gl/FZcYbJ', width='100%', height='300px')

NameError: name 'IFrame' is not defined

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [16]:
# 깊은 복사를 사용해봅시다.
import copy
a = [1, 2, [1, 2]]
b = copy.deepcopy(a)
b[2][0] = 3
print(a,b)

# [1,2]를 다른 주소로 복새해서 가지고 있음

[1, 2, [1, 2]] [1, 2, [3, 2]]

In [33]:
print(map(int,[1,2]))
print(map(int,b[2]))

<map object at 0x008B5BD0>
<map object at 0x008B5B10>

In [ ]:
# 깊은 복사
IFrame('https://goo.gl/dtnCzY', width='100%', height='300px')

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [197]:
# clear를 사용해봅시다.
a = [1, 2, 3]
a.clear()
print(a)

[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [199]:
a = range(1,11)

range(1, 11)

In [210]:
# 기존의방법
cubic_list = []
for num in a:
    cubic_list.append(num**3)
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [209]:
# List Comprehension
cubic_list2 = [num**3 for num in a]
print(cubic_list2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [216]:
a = range(1,11)

In [221]:
# 기존의방법
even_list = []
for num in a:
    if not num % 2:
        even_list.append(num)
print(even_list)

[2, 4, 6, 8, 10]

In [224]:
# List Comprehension
even_list2 = [num for num in a if not num % 2]
print(even_list2)

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [225]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [227]:
# 반복문을 활용하여 만들어주세요.
people = []
for boy in boys:
    for girl in girls:
        people.append((girl,boy))
people

[('jane', 'justin'),
 ('iu', 'justin'),
 ('mary', 'justin'),
 ('jane', 'david'),
 ('iu', 'david'),
 ('mary', 'david'),
 ('jane', 'kim'),
 ('iu', 'kim'),
 ('mary', 'kim')]

In [229]:
# List comprehension을 활용하여 만들어주세요.
people2 = [(boy,girl) for boy in boys for girl in girls]
people2

[('justin', 'jane'),
 ('justin', 'iu'),
 ('justin', 'mary'),
 ('david', 'jane'),
 ('david', 'iu'),
 ('david', 'mary'),
 ('kim', 'jane'),
 ('kim', 'iu'),
 ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [238]:
# 반복문을 활용하여 만들어주세요.
list1 = []
a = range(1,50)
for x in range(1,50):
    for y in range(x+1,50):
        for z in range(y+1,50):
            if x**2 + y**2 == z**2:
                list1.append((x,y,z))
print(list1)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [266]:
# List comprehension을 활용하여 만들어주세요.
list2 = [(x,y,z) for x in range(1,50) for y in range(x+1,50) for z in range(y+1,50) if x**2 + y**2 == z**2]
print(list2)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [294]:
# List comprehension을 활용하여 만들어주세요.
words = 'Life is too short, you need python!'
w = ''
# for s in words:
#     if s not in 'aeiou':
#         print(s)
#         w += s

w = ''.join([s for s in words if s not in 'aeiou'])
print(''.join([ s if s not in 'aeiou' else '*' for s in words]))
d = [s for s in words if s not in 'aeiou']
print (w,'\n',d)

L*f* *s t** sh*rt, y** n**d pyth*n!
Lf s t shrt, y nd pythn!
 ['L', 'f', ' ', 's', ' ', 't', ' ', 's', 'h', 'r', 't', ',', ' ', 'y', ' ', 'n', 'd', ' ', 'p', 'y', 't', 'h', 'n', '!']

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [34]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [35]:
# 딕셔너리에 없으면 에러가 발생합니다
my_dict.pop('melon')

KeyError: 'melon'

In [36]:
my_dict.pop('apple')
print(my_dict)

{'banana': '바나나'}

In [40]:
# 두번째 인자로 default를 설정할 수 있습니다
my_dict.pop('melon',0)

0

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [82]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [83]:
my_dict.update(apple='사과야')
print(my_dict)

{'apple': '사과야', 'banana': '바나나', 'melon': '멜론'}

In [84]:
my_dict.update({'banana': '바나나야'})
print(my_dict)

{'apple': '사과야', 'banana': '바나나야', 'melon': '멜론'}

In [85]:
my_dict.update(grape='포도')
print(my_dict)

{'apple': '사과야', 'banana': '바나나야', 'melon': '멜론', 'grape': '포도'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [58]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

KeyError: 'pineapple'

In [60]:
print(my_dict.get('pineapple'))

None

In [63]:
my_dict.get('pineapple',False)

False

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [67]:
[x**3 for x in range(1,5)]

[1, 8, 27, 64]

In [73]:
# dictionary comprehension
{x: x**3 for x in range(1,5)}

{1: 1, 2: 8, 3: 27, 4: 64}

In [74]:
result = {}
for x in range(1,5):
    result[x] = x**3
print(result)

{1: 1, 2: 8, 3: 27, 4: 64}

In [75]:
{char: 0 for char in 'abcdef'}

{'a': 0, 'b': 0, 'c': 0, 'd': 0, 'e': 0, 'f': 0}

In [76]:
result = {}
for char in 'abcd':
    result[char] = 0
print(result)

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

### dictionary comprehension 사용해보기

In [79]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [95]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}
print({지역 : 농도 for 지역,농도 in dusts.items() if 농도 > 80})
a = {지역 : 농도 for 지역,농도 in dusts.items() if 농도 > 80}
b = {지역 : dusts[지역] for 지역 in dusts.keys() if dusts[지역] > 80}

print(a,b)

{'대전': 82, '중국': 200}
{'대전': 82, '중국': 200} {'대전': 82, '중국': 200}

In [97]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.

{지역 : '나쁨' if 농도 > 80 else '보통' for 지역,농도 in dusts.items() }

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [ ]:
value = 80
'나쁨' if value > 80 else '보통'

In [99]:
# elif 도 사용할 수 있습니다.
{지역 : '매우나쁨' if 농도 > 150 else '나쁨' if 농도 >80 else '좋음' for 지역,농도 in dusts.items() }

{'서울': '좋음', '대전': '나쁨', '구미': '좋음', '광주': '좋음', '중국': '매우나쁨'}

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [5]:
# add를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.add('파인애플')
print(a)
a.add('파인애플')
print(a) 
# 중복된 값 없음

{'사과', '바나나', '파인애플', '수박'}
{'사과', '바나나', '파인애플', '수박'}

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [106]:
# update를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.update('토마토','딸기')
print(a) 
# for문 안에 for 문을 돈다고 생각

{'바나나', '사과', '기', '수박', '토', '딸', '마'}

In [108]:
a = {"사과", "바나나", "수박"}
a.update(('토마토','딸기'))
print(a)

{'딸기', '바나나', '사과', '수박', '토마토'}

In [109]:
a = {"사과", "바나나", "수박"}
a.update(('토마토',),('딸기',))
print(a)

{'딸기', '바나나', '사과', '수박', '토마토'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [111]:
# remove를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.remove('사과')
print(a)

{'수박', '바나나'}

In [112]:
a.remove('파이애플')

KeyError: '파이애플'

### `discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [113]:
# discard를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.discard('파인애플')
print(a)
# .get과는 다르게 default값이 없다.
# .pop은 default 값있으면 오류 없고 default 없으면 오류발생

{'사과', '수박', '바나나'}

### `pop()`

임의의 원소를 제거해 반환합니다.

In [35]:
# pop을 사용해봅시다.
a = {"사과", "바나나", "수박", "아보카도"}
a.pop()

'바나나'

##  `map()`, `zip()`, `filter()`

### `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [126]:
a = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [134]:
result = []
for elem in a:
    result.append(str(elem))
print(result)

['1', '2', '3']

In [127]:
# list comprehension
[str(elem) for elem in a]

['1', '2', '3']

In [132]:
''.join([str(elem) for elem in a])

'123'

In [133]:
map(str,a)

In [131]:
''.join(map(str,a))

'123'

In [135]:
a = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.
b,c,d = map(int,a)
print(b, c, d)

1 2 3

In [142]:
numbers = list(map(int,a))

In [137]:
# list comprehension
[int(elem) for elem in a]

[1, 2, 3]

* function은 사용자 정의 함수도 가능합니다.

In [146]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

In [150]:
[cube(elem) for elem in numbers]

[1, 8, 27]

In [151]:
#함수를 함수의 인자로 넘겨줄 수 있다.list(map(cube, numbers))

[1, 8, 27]

In [152]:
#함수를 변수에 저장할수 있다.
my_sum = sum

In [153]:
my_sum([1, 2, 3])

6

### `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [154]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [158]:
result = []
for idx_girl, girl in enumerate(girls):
    for idx_boy, boy in enumerate(boys):
        if idx_girl == idx_boy:
            result.append((girl, boy))
print(result)

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [159]:
result = []
for girl, boy in zip(girls, boys):
    result.append((girl, boy))
print(result)

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [162]:
list(zip(girls, boys))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [164]:
dusts.items()

dict_items([('서울', 72), ('대전', 82), ('구미', 29), ('광주', 45), ('중국', 200)])

In [166]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}
{boy: girl for boy, girl in zip(girls, boys)}

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [170]:
x, y = (1, 2)
print(x, y)

1 2

* 아래와 같이 사용가능하다.

In [172]:
a = '123'
b = '567'

for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

1 5
2 6
3 7

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [173]:
num1 = [1, 2, 3]
num2 = ['1', '2']
list(zip(num1, num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [174]:
from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue=0))

[(1, '1'), (2, '2'), (3, 0)]

### `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [175]:
# 짝수인지 판단하는 함수를 작성해봅시다.

In [177]:
def even(n):
    return not n%2

In [179]:
list(filter(even, range(1,10)))

[2, 4, 6, 8]

In [181]:
# 다음의 list comprehension과 동일하다.
[num for num in range(1,10) if even(num)]

[2, 4, 6, 8]